body {
  background: #c8796c;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}

.ba-container {
  padding: 0;
  position: absolute;
  margin: auto;
  width: 80vmin;
  height: 80vmin;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 30px solid #ffffff;
  background: #ffffff;
}

.box {
  position: absolute;
  width: 50%;
  height: 50%;
}

.line {
  position: absolute;
  width: 50%;
  height: 50%;
}

.cell {
  position: absolute;
  width: 50%;
  height: 50%;
}

.line :first-child,
.line :last-child {
  background-color: #000000;
}

.a {
  top: 0;
  left: 0;
}

.b {
  top: 0;
  left: 50%;
}

.c {
  top: 50%;
  left: 0;
}

.d {
  top: 50%;
  left: 50%;
}
